<div>
  <!-- Ventana Modal -->
  <div class="modal" id="miVentanaModal" tabindex="-1" role="dialog" aria-labelledby="miVentanaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">───────────╔═.✰.═══╗
            ──▄████▄▄░─✰ＨＯＬＡ
            ─▄▀█▀▐└─┐░░╚═══.✰.═╝
            ─█▄▐▌▄█▄┘██────────
            ─└▄▄▄▄▄┘███────────
            ▄██▒█▒███▀─────────</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddress">AUTOR</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Autor" name="autor" [(ngModel)]="autores.autor">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" role="button" (click)='createAutores()' *ngIf="!autores.id else elseBlock">Registrar</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='updateAutor()'>Actualizar</button>
          </ng-template>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/url/autores/all']">Close</button>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="registroExitoso">
          Autor registrado exitosamente.
        </div>
        <div class="alert alert-success" role="alert" *ngIf="edicionExitosa">
          Autor editado exitosamente.
        </div>
      </div>
    </div>
  </div>
</div>
