<div class="container">
  <button class="btn btn-outline-danger" data-toggle="modal" data-target="#miLibroModal" [routerLink]="['/url/libros/Crearlibros']">CrearLibro</button>
  <!--- La tabla --->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITULO</th>
        <th scope="col">Fch.Lnz.</th>
        <th scope="col">IDIOMA</th>
        <th scope="col">PAGINAS</th>
        <th scope="col">DESCRPCION</th>
        <th scope="col">PORTADA</th>
        <th style="text-align: end;">
          <div class="rarara" scope="col">ACCIONES</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of libros">
        <th scope="row"> {{ item.id}} </th>
        <td> {{ item.titulo }} </td>
        <td> {{ item.fecha_de_lanzamiento }} </td>
        <td> {{ item.idioma }} </td>
        <td> {{ item.paginas }} </td>
        <td> {{ item.descripcion }} </td>
        <td> {{ item.portada }} </td>
        <td style="text-align: end;">
          <span> <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#miLibroModal" [routerLink]="['/url/libros/update', item.id]">EDITAR</button></span>
          <span><button class="btn btn-danger" (click)="eliminarLibro(item)"> ELIMINAR </button></span>
      </td>
      </tr>
    </tbody>
  </table>
  <!-- La ventana modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': !!libroAEliminar}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmar eliminación</h5>
        <button type="button" class="close" (click)="cancelarEliminacion()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar a {{libroAEliminar?.titulo}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelarEliminacion()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmarEliminacion()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
</div>
<app-modal-libros-entity></app-modal-libros-entity>
