<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">🐸 La ReNiZa 🐸 </div>
    <div class="list-group list-group-flush">
      <a type="button" class="list-group-item list-group-item-action bg-light" [routerLink]="['/url/libros/all']">LIBROS</a>
      <a type="button" class="list-group-item list-group-item-action bg-light" [routerLink]="['/url/alquileres/all']">ALQUILERES</a>
      <a type="button" class="list-group-item list-group-item-action bg-light" [routerLink]="['/url/lectores/all']">LECTORES</a>
      <a type="button" class="list-group-item list-group-item-action bg-light" [routerLink]="['/url/autores/all']">AUTORES</a>
      <a type="button" class="list-group-item list-group-item-action bg-light" [routerLink]="['/url/categorias/all']">CATEGORIAS</a>
      <a type="button" class="list-group-item list-group-item-action bg-light" [routerLink]="['/url/editoriales/all']">EDITORIALES</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container-fluid">
        <button class="btn btn-primary" (click)="clickEvent()"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f438.gif" alt="" style="width: 50px; height: 50px;"></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Accion Inicial</a></li>
                <li><a class="dropdown-item" href="#">Deshacer Accion</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Que hago aca</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f916.gif" alt="" style="width: 40px; height: 40px;"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f916.gif" alt="" style="width: 40px; height: 40px;"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f916.gif" alt="" style="width: 40px; height: 40px;"><img src="https://images.emojiterra.com/google/noto-emoji/unicode-15/animated/1f916.gif" alt="" style="width: 40px; height: 40px;"></a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <h1 class="mt-4">Eliazel, the best programmer (っ◔◡◔)っ❤</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
